.title-main{
    color: red;
    text-align: center;}

.links{
    text-align: center;}

.title-main2{
    color: purple;
    text-align: center;}

#instrument{
    color: coral;
    text-align: center;
    }

.list-order{text-align: center;
    list-style-position: inside;}
